[package]
name = "qovery-engine"
version = "0.1.0"
authors = ["Romaric Philogene <romaric@qovery.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
chrono = "0.4.19"
cmd_lib = "1.0.13"
git2 = "0.13.25"
walkdir = "2.3.2"
itertools = "0.10.0"
base64 = "0.13.0"
dirs = "3.0.2"
rust-crypto = "0.2.36"
retry = "1.2.1"
trust-dns-resolver = "0.20.3"
rand = "0.8.3"
semver = "1.0.4"
gethostname = "0.2.1"
reqwest = { version = "0.11.3", features = ["blocking", "json"] }
futures = "0.3.15"
timeout-readwrite = "0.3.1"
lazy_static = "1.4.0"
uuid = { version = "0.8", features = ["v4", "serde"] }
url = "2.2.2"
function_name = "0.2.0"
thiserror = "1.0.30"
strum = "0.23"
strum_macros = "0.23"
urlencoding = "2.1.0"

# FIXME use https://crates.io/crates/blocking instead of runtime.rs

# tar gz
flate2 = "1.0.20" # tar gz
tar = ">=0.4.36"

# logger
tracing = "0.1.26"
tracing-subscriber = "0.2.18"

# Docker deps
# shiplift = "0.6.0"

# Filesystem
sysinfo = "0.18.2"

# Jinja2
tera = "1.10.0"
# Json
serde = "1.0.126"
serde_json = "1.0.64"
serde_derive = "1.0.126"
# AWS deps
tokio = { version = "1.10.0", features = ["full"] }
rusoto_core = "0.47.0"
rusoto_sts = "0.47.0"
rusoto_credential = "0.47.0"
rusoto_ecr = "0.47.0"
rusoto_eks = "0.47.0"
rusoto_s3 = "0.47.0"
rusoto_dynamodb = "0.47.0"
rusoto_iam = "0.47.0"

# Digital Ocean Deps
digitalocean = "0.1.1"

# Scaleway Deps
scaleway_api_rs = "=0.1.2"

[dev-dependencies]
test-utilities = { path = "test_utilities" }
tempdir = "0.3"
tempfile = "3.2.0"
maplit = "1.0.2"
tracing-test = "0.1.0"

[features]
default = []
test-all = ["test-all-self-hosted", "test-all-infra", "test-all-managed-services", "test-all-whole-enchilada"]

# functionnal tests by type
test-aws-self-hosted = []
test-do-self-hosted = []
test-scw-self-hosted = []
test-all-self-hosted = ["test-aws-self-hosted", "test-do-self-hosted", "test-scw-self-hosted"]

test-aws-managed-services = []
test-do-managed-services = []
test-scw-managed-services = []
test-all-managed-services = ["test-aws-managed-services", "test-do-managed-services", "test-scw-managed-services"]

test-aws-infra = []
test-do-infra = []
test-scw-infra = []
test-all-infra = ["test-aws-infra", "test-do-infra", "test-scw-infra"]

test-aws-whole-enchilada = []
test-do-whole-enchilada = []
test-scw-whole-enchilada = []
test-all-whole-enchilada = ["test-aws-whole-enchilada", "test-do-whole-enchilada", "test-scw-whole-enchilada"]

# functionnal tests by provider
test-aws-all = ["test-aws-infra", "test-aws-managed-services", "test-aws-self-hosted", "test-aws-whole-enchilada"]
test-do-all = ["test-do-infra", "test-do-managed-services", "test-do-self-hosted", "test-do-whole-enchilada"]
test-scw-all = ["test-scw-infra", "test-scw-managed-services", "test-scw-self-hosted", "test-scw-whole-enchilada"]

# functionnal test with only a k8s cluster as a dependency
test-with-kube = []
