[package]
name = "qovery-engine"
version = "0.1.0"
authors = ["Romaric Philogene <romaric@qovery.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
chrono = "0.4.11"
cmd_lib = "0.7.8"
git2 = "0.13.8"
walkdir = "2.3.1"
itertools = "0.9.0"
base64 = "0.12.3"
dirs = "3.0.1"
rust-crypto = "0.2.36"
retry = "1.0.0"
trust-dns-resolver = "0.19.6"
rand = "0.7.3"
gethostname = "0.2.1"
reqwest = { version = "0.10.8", features = ["blocking"] }
futures = "0.3"

# FIXME use https://crates.io/crates/blocking instead of runtime.rs

# tar gz
flate2 = "1.0.16" # tar gz
tar = "0.4.29"

# logger
tracing = "0.1"
tracing-subscriber = "0.2"

# Docker deps
# shiplift = "0.6.0"

# Filesystem
fs2 = "0.4.3"

# Jinja2
tera = "1.3.1"
serde = "1.0.114"
serde_json = "1.0.57"
serde_derive = "1.0"
# AWS deps
tokio = "0.2.22"
rusoto_core = "0.45.0"
rusoto_sts = "0.45.0"
rusoto_credential = "0.45.0"
rusoto_ecr = "0.45.0"
rusoto_eks = "0.45.0"
rusoto_s3 = "0.45.0"
rusoto_dynamodb = "0.45.0"
rusoto_iam = "0.45.0"

# Digital Ocean Deps
digitalocean = "0.1.1"

[dev-dependencies]
test-utilities = { path = "test_utilities" }
